.footer
  .footer__container
    .footer__container__logo
      = link_to root_path do
        %span.left LIVE
        %span.right rarian
    .footer__container__box
      .footer__container__box__contents
        %h3.footer__container__box__contents__title  
          会社情報
        .footer__container__box__contents__content
          = link_to '#' do
            企業情報

        .footer__container__box__contents__content
          = link_to '#' do
            アクセス

        .footer__container__box__contents__content
          = link_to '#' do
            For the Record

      .footer__container__box__contents
        %h3.footer__container__box__contents__title  
          コミュニティ
        .footer__container__box__contents__content
          = link_to '#' do
            新着情報
            
        .footer__container__box__contents__content
          = link_to '#' do
            メールマガジン

        .footer__container__box__contents__content
          = link_to '#' do
            アーティスト向け
          
        .footer__container__box__contents__content
          = link_to '#' do
            投資家の皆さまへ

        .footer__container__box__contents__content
          = link_to '#' do
            無料モバイルアプリ

      .footer__container__box__contents
        %h3.footer__container__box__contents__title  
          その他
        .footer__container__box__contents__content
          = link_to '#' do
            お問い合わせ
            
        .footer__container__box__contents__content
          = link_to '#' do
            利用規約

        .footer__container__box__contents__content
          = link_to '#' do
            プライバシーポリシー

        .footer__container__box__contents__content
          = link_to '#' do
            個人情報保護方針
    
    .footer__container__sns
      %ul.footer__container__sns__lists
        %li.footer__container__sns__lists__list
          = link_to '#' do
            %i.fab.fa-instagram

        %li.footer__container__sns__lists__list
          = link_to '#' do
            %i.fab.fa-twitter

        %li.footer__container__sns__lists__list
          = link_to '#' do
            %i.fab.fa-facebook-f
            
    .footer__container__bottoms
      %ul.footer__container__bottoms__lists
        %li.footer__container__bottoms__lists__list
          = link_to '#' do
            法的措置
        %li.footer__container__bottoms__lists__list
          = link_to '#' do
            プライバシーセンター
        %li.footer__container__bottoms__lists__list
          = link_to '#' do
            Cookies
        %li.footer__container__bottoms__lists__list
          = link_to '#' do
            広告について
        %li.footer__container__bottoms__lists__list.right
          © 2020 LIVErarian
        


