.header
  .header__box
    .header__box__logo
      = link_to root_path do
        %span.left LIVE
        %span.right rarian
    .header__box__search-hidden
      = search_form_for(@q, url: post_search_searches_path)do |f|
        = f.search_field :artist_name_or_station_or_venue_or_address_cont, placeholder: "キーワード検索　（アーティスト名、最寄駅、会場名などから検索）", class: 'header-input'
        = button_tag 'search', name: nil, id: "header-search" do
          Find


    - if user_signed_in?
      %nav.header__box__container
        %ul.header__box__container__lists
          %li.header__box__container__lists__list
            = link_to root_path do
              Top
              
          %li.header__box__container__lists__list
            .header__box__container__lists__list__find
              Find

          %li.header__box__container__lists__list
            - if @artist_info.present? 
              = link_to new_post_path do
                Post
            - else
              = link_to notyet_posts_path do
                Post

          %li.header__box__container__lists__list--line

          - if @artist_info.present? 
            %li.header__box__container__lists__list
              = link_to users_path do
                = image_tag @artist_info.image.url, class: 'header-icon'

            %li.header__box__container__lists__list.profile 
              = link_to users_path, class: 'header-profile' do
                プロフィール

          - else
            %li.header__box__container__lists__list
              = link_to users_path do
                プロフィール


    - else
      %nav.header__box__container
        %ul.header__box__container__lists
          %li.header__box__container__lists__list
            = link_to '#' do
              Top
          %li.header__box__container__lists__list
            = link_to '#' do
              Find
          %li.header__box__container__lists__list
            = link_to new_post_path do
              Post
          %li.header__box__container__lists__list--line

          %li.header__box__container__lists__list
            = link_to new_user_registration_path do
              新規登録
          %li.header__box__container__lists__list
            = link_to new_user_session_path do
              ログイン