.header
  .header__box
    .header__box__logo
      = link_to root_path do
        %span.left LIVE
        %span.right rarian


    - if user_signed_in?
      %nav.header__box__container
        %ul.header__box__container__lists
          %li.header__box__container__lists__list
            = link_to '#' do
              Top
          %li.header__box__container__lists__list
            = link_to '#' do
              Find
          %li.header__box__container__lists__list
            = link_to '#' do
              Post
          %li.header__box__container__lists__list--line

          %li.header__box__container__lists__list
            = link_to new_user_registration_path do
              マイページ
          %li.header__box__container__lists__list
            = link_to destroy_user_session_path, method: :delete, class: 'btn' do
              ログアウト

    - else
      %nav.header__box__container
        %ul.header__box__container__lists
          %li.header__box__container__lists__list
            = link_to '#' do
              Top
          %li.header__box__container__lists__list
            = link_to '#' do
              Find
          %li.header__box__container__lists__list
            = link_to '#' do
              Post
          %li.header__box__container__lists__list--line

          %li.header__box__container__lists__list
            = link_to new_user_registration_path do
              新規登録
          %li.header__box__container__lists__list
            = link_to new_user_session_path do
              ログイン