%nav.side-bar
  %ul.side-bar__lists

    %li.bar.show-1
    %li.side-bar__lists__list
      = link_to users_path do
        %i.fas.fa-home
        アカウント情報
        %i.fas.fa-chevron-right

    %li.bar.show-2
    %li.side-bar__lists__list
      = link_to edit_user_path(current_user) do
        %i.fas.fa-user-cog
        プロフィールを編集
        %i.fas.fa-chevron-right

    %li.bar.show-3
    %li.side-bar__lists__list
      = link_to '#' do
        %i.fas.fa-star
        お気に入りアーティスト
        %i.fas.fa-chevron-right

    %li.bar.show-4
    %li.side-bar__lists__list
      = link_to '#' do
        %i.fas.fa-headphones
        行きたいLIVE
        %i.fas.fa-chevron-right

    %li.bar.show-5
    %li.side-bar__lists__list
      - if @artist_info.present? 
        = link_to edit_artist_path(@artist_info.id) do
          %i.fas.fa-address-card
          アーティスト情報を編集
          %i.fas.fa-chevron-right
      - else
        = link_to notyet_artists_path do
          %i.fas.fa-address-card
          アーティスト情報を編集
          %i.fas.fa-chevron-right

    %li.bar.show-6
    %li.side-bar__lists__list
      - if @artist_info.present? 
        = link_to new_post_path do
          %i.fas.fa-podcast
          LIVE情報を投稿
          %i.fas.fa-chevron-right
      - else
        = link_to notyet_posts_path do
          %i.fas.fa-podcast
          LIVE情報を投稿
          %i.fas.fa-chevron-right

    %li.bar.show-7
    %li.side-bar__lists__list
      - if @artist_info.present? 
        = link_to live_yet_posts_path do
          %i.fas.fa-microphone
          開催予定のLIVE
          %i.fas.fa-chevron-right
      - else
        = link_to not_yet_posts_path do
          %i.fas.fa-microphone
          開催予定のLIVE
          %i.fas.fa-chevron-right

    %li.bar.show-8
    %li.side-bar__lists__list
      = link_to '#' do
        %i.fas.fa-compact-disc
        過去に開催したLIVE
        %i.fas.fa-chevron-right

    %li.side-bar__lists__list
      = link_to destroy_user_session_path, method: :delete do
        %i.fas.fa-sign-out-alt
        ログアウト
        %i.fas.fa-chevron-right

