.home
  = render 'shared/first-introduction'

  .home__container
    %h2.home__container__title
      新着アーティスト
    .home__container__contents
      = render partial: 'shared/new', collection: @news.first(4)

  .home__container.row
    %h2.home__container__title
      本日開催される路上ライブ
    - if @todays.present?
      .home__container__contents-2
        = render partial: 'shared/today', collection: @todays.first(3)
    - else
      %h2.home__container__today-none
        本日開催される路上ライブはありません。

  .home__container.row
    %h2.home__container__title
      本日開催されるライブ（ライブハウス）
    - if @today_houses.present?
      .home__container__contents-2
        = render partial: 'shared/today_house', collection: @today_houses.first(3)
    - else
      %h2.home__container__today-none
        本日ライブハウスで開催されるライブはありません。

  = render 'shared/second-introduction'