.home
  = render 'shared/first-introduction'

  .home__container
    %h2.home__container__title
      新着アーティスト
      %h2.home__container__title__line

    .home__container__contents.slider
      = render partial: 'shared/new', collection: @news.first(8)
    .arrows

  .home__container.row
    %h2.home__container__title
      本日開催される路上ライブ
      %h2.home__container__title__line

    - if @todays.present?
      .arrows-2
      %h2.home__container__count
        本日開催される路上ライブは
        = @todays.length
        件です。
      .home__container__contents-2
        = render partial: 'shared/today', collection: @todays
    - else
      %h2.home__container__today-none
        本日開催される路上ライブはありません。

  .home__container.row
    %h2.home__container__title
      本日開催されるライブ（ライブハウス）
      %h2.home__container__title__line

    - if @today_houses.present?
      .arrows-3
      %h2.home__container__count
        本日開催されるライブ（ライブハウス）は
        = @today_houses.length
        件です。
      .home__container__contents-3
        = render partial: 'shared/today_house', collection: @today_houses
    - else
      %h2.home__container__today-none
        本日ライブハウスで開催されるライブはありません。

  = render 'shared/second-introduction'