.search__bottom__right

  - if params[:q][:artist_name_or_station_or_venue_or_address_cont].empty? && @posts.present?
    %h2.search__bottom__right__nil
      LIVE一覧
    .search__bottom__right__main 
      = render partial: 'post', collection: @posts

  -elsif params[:q][:artist_name_or_station_or_venue_or_address_cont].empty?
    %h2.search__bottom__right__nil
      LIVE一覧
    .search__bottom__right__text-2
      該当するLIVEが見つかりません。検索条件を変えて、再度お試しください。
    .search__bottom__right__main 
      = render partial: 'post', collection: @posts_all


  -elsif @posts.present?
    %h2.search__bottom__right__head
      = @q.artist_name_or_station_or_venue_or_address_cont
      %span.search__bottom__right__head__text
        の検索結果
    .search__bottom__right__number
      ="1-#{@posts.count}件表示"
    .search__bottom__right__main 
      = render partial: 'post', collection: @posts

  -else
    %h2.search__bottom__right__head
      = @q.artist_name_or_station_or_venue_or_address_cont
      %span.search__bottom__right__head__text
        の検索結果
    .search__bottom__right__text-2
      該当するLIVEが見つかりません。検索条件を変えて、再度お試しください。
    .search__bottom__right__main 
      = render partial: 'post', collection: @posts_all