.search
  .search__top
    = search_form_for(@q, url: post_search_searches_path)do |f|
      = f.search_field :artist_name_or_station_or_venue_or_address_cont, placeholder: "キーワード検索　（アーティスト名、最寄駅、会場名などから検索）", class: 'input-default'
      = button_tag 'search', name: nil, class: "search-btn" do
        %i.fas.fa-search


  .search__bottom
    .search__bottom__left
      .search__bottom__left__which
        = link_to post_search_searches_path, class: 'post-search' do
          LIVE検索
        = link_to artist_search_searches_path, class: 'artist-search' do
          アーティスト検索
      
    .search__bottom__right
      -if @posts.present?
        %h2.search__bottom__right__head
          = @q.artist_name_or_station_or_venue_or_address_cont
          %span.search__bottom__right__head__text
            の検索結果
        .search__bottom__right__number
          ="1-#{@posts.count}件表示"
        .search__bottom__right__main 
          = render partial: 'post', collection: @posts


      - elsif params[:q][:artist_name_or_station_or_venue_or_address_cont].empty?
        %h2.search__bottom__right__nil
          LIVE一覧
        .search__bottom__right__main 
          = render partial: 'post', collection: @posts_all


      -else
        %h2.search__bottom__right__head
          = @q.artist_name_or_station_or_venue_or_address_cont
          %span.search__bottom__right__head__text
            の検索結果
        .search__bottom__right__text-2
          該当するLIVEが見つかりません。検索条件を変えて、再度お試しください。
        .search__bottom__right__main 
          = render partial: 'post', collection: @posts_all

    