.new-post
  %h2.new-post__text
    LIVE情報を投稿

  .new-post__container
    = form_with model: @post, local: true do |f|
      .frame
        %label.new-post__container__field
          .tpnhk
            %span.title LIVE予定日時
            %span.new-post__container__require 必須

          =f.datetime_select :date_time, {}, class: 'date-form'
          %i.fas.fa-chevron-down.bar-1
          %i.fas.fa-chevron-down.bar-2
          %i.fas.fa-chevron-down.bar-3
          %i.fas.fa-chevron-down.bar-4
          %i.fas.fa-chevron-down.bar-5
          %n.year 年
          %n.date 日
          %n.hour 時
          %n.minute 分
        = render partial: 'users/shared/error_messages', locals: { column: :date_time, input: @post }
          
      .frame
        %label.new-post__container__field
          .tpnhk
            %span.title.row LIVE予定時間
            %span.new-post__container__require-2 必須

          = f.collection_select :how_long_id, HowLong.all, :id, :name, {prompt: "--"}, {class: 'selector'}
          %i.fas.fa-chevron-down.bar-6
        = render partial: 'users/shared/error_messages', locals: { column: :how_long_id, input: @post }

      .form-box
        .form-content.first
          %label.new-post__container__field
            .tpnhk-mgin
              %span.title.row LIVE形式
              %span.new-post__container__require-3 必須
            = f.collection_select :form_id, Form.all, :id, :name, {prompt: "--"}, {class: 'selector active-js'}
            %i.fas.fa-chevron-down.bar-7
          = render partial: 'users/shared/error_messages', locals: { column: :form_id, input: @post }

        .form-content
          %label.new-post__container__field
            .tpnhk
              %span.title.row 最寄駅
              %span.new-post__container__require-4 必須
            = f.text_field :station, placeholder: '最寄駅', class:'station-form'
          = render partial: 'users/shared/error_messages', locals: { column: :station, input: @post }

        .form-content.not-active
          %label.new-post__container__field
            .tpnhk
              %span.row 入場料金
              %span.new-post__container__require-5 任意
            = f.text_field :fee,type: 'number', placeholder: '入場料金', class:'price-form'
            %span.yen 円


      %label.new-post__container__field
        .tpnhk
          %span.row 会場名
          %span.new-post__container__require-6 必須
        = f.text_field :venue, placeholder: '会場名', class:'venue-form'
      = render partial: 'users/shared/error_messages', locals: { column: :venue, input: @post }


      .new-post__container__btns
        = link_to users_path do
          キャンセル
        = f.submit "投稿する", type: 'submit', class: 'btn'
