.show-post
  .show-post__container
    %h2.show-post__container__title
      ライブ情報
    .show-post__container__line

    = render 'shared/show-posts'

    .show-main__container__bottom
      .show-main__container__bottom__field
        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__left
            LIVE予定日時

        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__right
            = @post.date_time.strftime("%Y年%-m月%-d日 %-H時%-M分")

      .show-main__container__bottom__field
        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__left
            LIVE予定時間

        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__right
            = @post.how_long.name

      .show-main__container__bottom__field
        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__left
            LIVE形式

        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__right
            = @post.how_long.name

      .show-main__container__bottom__field
        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__left
            会場名

        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__right
            = @post.venue

      - if @post.fee.present?
        .show-main__container__bottom__field
          .show-main__container__bottom__field__content
            .show-main__container__bottom__field__content__left
              入場料金

          .show-main__container__bottom__field__content
            .show-main__container__bottom__field__content__right
              = @post.fee

      .show-main__container__bottom__field
        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__left
            最寄駅

        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__right
            = @post.station


    .show-post__container__under
      - if user_signed_in? && current_user.id == @post.user.id
        = link_to edit_post_path(@post.id) do
          LIVE情報を編集

      - elsif user_signed_in? 
        %h2.show-post__container__under__follow
          My LIVEに追加